#menu-26 .mbr-brand__name {
  font-size: 16px;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__hamburger {
  color: #4c6972;
}
#menu-26 .mbr-navbar__items a {
  font-size: 14px;
}
#header3-7 H3 {
  text-align: center;
  font-size: 46px;
}
#video2-8 SMALL {
  text-align: center;
  font-size: 18px;
  color: #00a885;
}
#video2-8 B {
  font-size: 23px;
}
#content5-a .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-size: 30px;
}
#content5-a .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-a .mbr-article {
  color: #fff;
}
#content5-a .mbr-article P {
  text-align: left;
}
#content4-e .mbr-section-title .mbr-header__text {
  font-size: 18px;
}
#content4-e .mbr-section__col .mbr-header__text {
  text-align: center;
}
#msg-box4-b .mbr-header__text {
  color: #000000;
}
#msg-box4-b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-b .mbr-article {
  color: #ffffff;
}
#msg-box4-b .mbr-article P {
  color: #000000;
}
#pricing-table1-9 UL {
  color: #252525;
}
#content4-t .mbr-section-title .mbr-header__text {
  font-size: 18px;
}
#content4-t .mbr-section__col .mbr-header__text {
  text-align: center;
}
#msg-box4-o .mbr-header__text {
  color: #000000;
}
#msg-box4-o .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-o .mbr-article {
  color: #ffffff;
}
#msg-box4-o .mbr-article P {
  color: #000000;
}
#content5-q .mbr-header .mbr-header__text {
  text-align: center;
  color: #252525;
  font-size: 30px;
}
#content5-q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-q .mbr-article {
  color: #fff;
}
#content5-q .mbr-article P {
  text-align: left;
}
#header3-2o H3 {
  text-align: center;
  color: #00a885;
}
#contacts1-k P {
  font-size: 13px;
}
#menu-26 .mbr-brand__name {
  font-size: 16px;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-26 .mbr-navbar__items a {
  font-size: 14px;
}
#msg-box5-11 .mbr-header__text {
  color: #efefef;
  font-size: 36px;
  text-align: left;
}
#msg-box5-11 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-11 .mbr-article {
  color: #ffffff;
}
#header3-4 H3 {
  text-align: center;
  font-size: 36px;
}
#header3-i H3 {
  font-size: 36px;
  text-align: center;
}
#testimonials1-1d .mbr-section__header {
  font-size: 25px;
}
#header3-2m H3 {
  text-align: center;
}
#contacts1-k P {
  font-size: 13px;
}
#msg-box5-1u .mbr-header__text {
  color: #ffffff;
}
#msg-box5-1u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-1u .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#menu-1h .mbr-brand__name {
  font-size: 16px;
}
#menu-1h.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-1h .mbr-navbar__section {
  background: #ffffff;
}
#menu-1h .mbr-navbar__hamburger {
  color: #4c6972;
}
#menu-1h .mbr-navbar__items a {
  font-size: 14px;
}
#msg-box3-1s .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1s .mbr-header .mbr-header__subtext {
  text-align: center;
}
#contacts1-1i P {
  font-size: 13px;
}
#menu-26 .mbr-brand__name {
  font-size: 16px;
}
#menu-26.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__section {
  background: #ffffff;
}
#menu-26 .mbr-navbar__hamburger {
  color: #4c6972;
}
#menu-26 .mbr-navbar__items a {
  font-size: 14px;
}
#msg-box5-28 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-28 .mbr-article {
  color: #ffffff;
}
#header3-2e H3 {
  text-align: center;
  font-size: 36px;
}
#header3-2e P {
  text-align: center;
}
#msg-box4-2d .mbr-header__text {
  color: #000000;
}
#msg-box4-2d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2d .mbr-article {
  color: #ffffff;
}
#msg-box4-2d .mbr-article P {
  color: #000000;
}
#msg-box1-2g .mbr-header .mbr-header__text {
  color: #fff;
  text-align: center;
}
#msg-box1-2g .mbr-article {
  color: #fff;
}
#contacts1-27 P {
  font-size: 13px;
}
